// colors
$blue : #142850;
$white : #fff;
$gray : #ecf0f1;
$black : #000;
$transparent : transparent;

// fonts size
$twenty : 20px;
$thirty : 30px;

// Breakpoints
$notebook : 1024px;
$ipad : 995px;
$phone : 767px;
$iphone : 550px;
$small-iphone : 320px;