body { background-color: $blue; }

.welcome-form {
  input {
    width: 100%;
    display: block;    
    background-color: $transparent;
    color: $white;
    text-align: center;
    outline: none;
  }

  input[type="text"] {
    border: none;
    border-bottom: 1px solid $white;
    margin-bottom: 15px;
    font-size: $thirty;
  }

  input[type="button"] {
    padding: 20px 0;
    border: 3px solid $white;
    border-radius: 100px;
    font-size: $twenty;
    @include vendor(transition, all .5s all);

    @include reverse-breakpoint('notebook') {
      &:hover {
        background-color: $white;
        color: $blue;
      }
    }
  }
}